//
// Notification keyframes
// --------------------------------------------------


// Show keyframes
// -------------------------

@keyframes frost-notifications-show {
  0% {
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
    opacity: 0;
  }

  100% {
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
    opacity: 1;
  }
}


// Shrink keyframes
// -------------------------

@keyframes frost-notifications-shrink {
  0% {
    max-height: $notification-max-height;
    margin-bottom: $notification-spacing;
    transform: scale(.8);
    opacity: 0;
  }

  100% {
    max-height: 0;
    margin-bottom: 0;
    transform: scale(.8);
    opacity: 0;
  }
}


// Hide keyframes
// -------------------------

@keyframes frost-notifications-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(.8);
    opacity: 0;
  }
}


// Countdown keyframes
// -------------------------

@keyframes frost-notifications-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
