//
// Notification mixins
// --------------------------------------------------

$bg-color: #fff;
$notification-wrapper-bg: rgba($bg-color, .95);

@mixin frost-notifications-theme($border-color, $message-color, $details-color) {

  .notification-wrapper {
    border: 1px solid $border-color;
    background-color: $notification-wrapper-bg;
  }

  .message {
    color: $message-color;
  }

  .close {
    color: $message-color;
  }

  .details {
    a {
      color: $details-color;
    }
  }
}
