@import 'variables';
@import 'mixins';
@import 'keyframes';

$frost-notification-box-shadow: rgba(0, 0, 0, .25);

//
// Notification component
// --------------------------------------------------


// Container that houses the notification messages
.frost-notifications-container {
  position: absolute;
  top: $notification-top;
  right: 0;
  left: 0;
  width: $notification-width;
  margin-right: auto;
  margin-left: auto;
  z-index: $notification-zindex;
}


// Base notification
// -------------------------

.frost-notifications {
  position: relative;
  max-height: $notification-max-height;
  margin-bottom: $notification-spacing;
  border-radius: $notification-border-radius;
  color: $frost-color-white;
  font-size: $frost-font-s;
  box-shadow: 0 3px 3px 0 $frost-notification-box-shadow;
  overflow: hidden;
  animation: frost-notifications-hide 250ms cubic-bezier(.33859, -.42, 1, -.22), frost-notifications-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
  animation-fill-mode: forwards;

  .icon {
    width: $notification-icon-width;
    height: $notification-icon-height;
  }

  .message {
    padding: $notification-padding;

    .dismissable {
      padding-right: $notification-icon-width;
    }
  }

  .details {
    padding-right: $notification-padding;

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .close {
    svg {
      width: 24px;
      height: 24px;
    }

    padding-right: $notification-padding;
    cursor: pointer;
  }
}


// Notification in
// -------------------------

.frost-notifications-in {
  animation: frost-notifications-show 180ms cubic-bezier(.175, .885, .32, 1.27499);
}


// Notification content
// -------------------------

.notification-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  // Breaking up words without white space to fix https://github.com/ciena-frost/ember-frost-notifier/issues/39
  // (@job13er 2017-05-22)
  word-break: break-word;

  .content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

// Notification themes
// -------------------------

.frost-notifications-success {
  @include frost-notifications-theme($notification-success-bg, $notification-success-header-text, #43c9f7);
}

.frost-notifications-info {
  @include frost-notifications-theme($notification-info-bg, $notification-info-header-text, #43c9f7);
}

.frost-notifications-error {
  @include frost-notifications-theme($notification-error-bg, $notification-error-header-text, #43c9f7);
}

.frost-notifications-warning {
  @include frost-notifications-theme($notification-warning-bg, $notification-warning-header-text, #43c9f7);
}
