$demo-content-color: #231f20;

.dummy-body {
  margin-left: 20px;
}

.demo-application {
  height: 100%;
}

.demo-content {
  position: relative;
  padding: 30px;
  color: $demo-content-color;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 0;

  legend {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    label {
      width: 150px;
      margin-right: 5px;
      text-align: right;
    }

    .field-value {
      width: 250px;

      >div,
      input {
        width: 100%;
      }
    }

    button {
      margin-right: 2px;
    }
  }
}
