<div class="demo-application">
  <div class="demo-content">
    {{frost-notifier}}
    <form>
        <fieldset>
          <legend>Frost Notifications</legend>
          <div class='field'>
            <label>Message:</label>
            <div class='field-value'>
            {{frost-text id="message-field" type="text" value=message onInput=(action 'text')}}
            </div>
          </div>
          <div class='field'>
            <label>Type:</label>
            <div class='field-value'>
              {{frost-select data=selectData onChange=(action 'select')}}
            </div>
          </div>
          <div class='field'>
            <label>Timeout:</label>
            <div class='field-value'>
              {{frost-text value=clearDuration}}
            </div>
          </div>
          <div class='field'>
            <label></label>
            {{#frost-button
              onClick=(action 'clearAll')
              priority="secondary"
              size="medium"
            }}
              Clear all
            {{/frost-button}}
            {{#frost-button
              id="show-notification"
              onClick=(action 'showNotification')
              priority="primary"
              size="medium"
            }}
              Show
            {{/frost-button}}
          </div>
        </fieldset>
    </form>
  </div>
</div>
